.App {
  background-color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@font-face {
  font-family: "CaviarDreams";
  src: local("CaviarDreams"),
    url("./fonts/CaviarDreams_Bold.ttf") format("truetype");
  font-weight: bold;
}

/* Media Queries */

/***** Screen for mobile with max-width 487px *****************/

@media(max-width: 487px) {

  /***** Nav Bar Header ****************/
  #basic-navbar-nav {
    border-radius: 25px !important;
  }

  #NavText_other {
    margin-left: -350px !important;
    height: 40px !important;
    text-align: center;
  }

  .btnNosSolution {
    margin-left: -350px !important;
    text-align: center;
  }
  .Nav_home:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 30% !important;
    position: relative;
    background: #25ACDE;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .Nav_home:hover:after {
    width: 40% !important;
    left: 30% !important;
  }
  
  .Nav_homeNosSolution:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 25% !important;
    position: relative;
    background: #25ACDE;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    margin-top:-27px !important;
  }
  .Nav_homeNosSolution:hover:after {
    width: 50% !important;
    left: 25% !important;
    
  }
  /** footer **/
  #socialIcons {
    margin-left: 6% !important;
    margin-top: -20% !important;
  }

  #navfooter {
    padding-top: 15% !important;
  }

  #copyright_title {
    margin-left: -50% !important;
    padding-top: 5%;
  }

  /**===========**/

  /*==Homeinterface==*/

  #NavText_home {
    text-align: center !important;
    text-transform: uppercase;
    margin-right: 20px;
    margin-left: 20px;
    padding-right: 0px;
    font-size: 15px;
    color: black !important;
  }

  .big-title {
    text-align: center !important;
  }

  .bienvenuto {
    text-align: center !important;
  }

  .bienvenuto-p {
    text-align: center !important;
  }

  .p1>p {
    text-align: center !important;
  }

  .more-info-btn {
    margin-left: 35% !important;
  }

  .description_img {
    width: 300px !important;
  }

  .solutions-container {
    margin-left: 10px !important;
    margin-top: -30px !important;
  }

  .solution-description-container {
    margin-left: -10px !important;
    width: 80% !important;
    padding: 40px 5px 20px 5px !important;
  }
  
  .link-to-solution{
  margin-bottom: 20px !important;
  }

  #hodhod1 {
    width: 340px !important;
    height: 250px !important;
    margin-left: -20px !important;
    margin-top: 70px !important;
  }

  .expertiseBox {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 3px 6px #888992;
    border-radius: 21px;
    opacity: 1;
    backdrop-filter: blur(7px);
    width: 450px !important;
    margin-left: 0px !important;
    padding-top: 2.5%;
    line-height: 3em;
  }

  #expertiseBoxItems {
    font-size: 16px !important;
  }

  #portfolio1 {
    width: 250px !important;
  }

  /*=========*/
  /**Hodhod Interface **/

  #NosSolutionsTitleHodhod {
    margin-top: -230px;
    margin-left: 26% !important;
  }

  .bgSolutionImg {
    background-image: url('./components/images/bannière supersenses@2x.png');
    background-repeat: no-repeat;
    background-size: 100% !important;
    height: 487px;
    margin-bottom: -130px;
  }

  #HodhodContentParagraphTitle {
    margin-left: -45% !important;
    margin-top: 20px;
  }

  #HodhodContentParagraph {
    text-align: center !important;
    margin-top: -230px !important;
    margin-left: 23% !important;
  }

  #HodhodContentParagraphDes {
    margin-left: -45% !important;
  }

  #videoPicture {
    width: 350px !important;
  }

  #ComposantsHodhodTitle {
    margin-left: 2% !important;
    margin-bottom: 5% !important;
    text-align: center !important;

  }

  #hodhodbox {
    margin-left: 4% !important;
    margin-top: 4%;
    margin-bottom: 35% !important;
    width: 80% !important;
  }

  #compBorder1 {
    margin-bottom: 50px !important;
    margin-left: 9% !important;
  }

  #compBorder2 {
    margin-bottom: 50px !important;
    padding-top: 3%;
  }

  #compBorder3 {
    margin-bottom: 50px !important;
    padding-top: 10% !important;
  }

  #mobPicture {
    width: 280px !important;
    margin-bottom: 15% !important;
    margin-left: 3% !important;
  }

  #mobPara {
    text-align: center !important;
    margin-left: 5% !important;
  }

  #backgroundimg {
    margin-top: 25% !important;
  }

  #bgPsize {
    width: 98% !important;
    border-radius: 25px;
    margin-top: 15px !important;

  }

  #deveneztitle {
    margin-top: 10% !important;
  }

  #devenezParag {
    text-align: center !important;
    margin-left: -3% !important;
    margin-top: 3% !important;
  }

  #ImpactBox {
    margin-top: 22% !important;
    margin-bottom: -40px !important;
  }

  #hodhodImage {
    width: 120px !important;
    height: 80px !important;
    margin-top: 10%;
    margin-left: 35% !important;
    border-radius: 20px;
  }

  #googlePlay {
    width: 100px !important;
    height: 100%;
    margin-left: 35% !important;
  }

  /*==============*/

  /*** Senses IA Interface ***/

  .NosSolutionsTitle {
    margin-bottom: 20px !important;
    margin-top: 10% !important;
    font-size: 35px;

  }

  #SensesIATitleTxt {
    margin-top: 5% !important;
    margin-left: -1% !important;
    text-align: center !important;
  }

  #p_descriptionSensesIA {
    margin-left: 3% !important;
    margin-right: 3% !important;
    margin-bottom: 13% !important;
    text-align: center !important;

  }

  #img-descriptionSensesIA {
    width: 330px !important;
    height: 90% !important;
    margin-left: 5% !important;
    margin-bottom: 5% !important;
  }

  #ComposantsSensesIATitle {
    margin-top: 12% !important;
    margin-bottom: 10% !important;
    font-size: 16px !important;
  }

  #blocComposantsSensesIA {
    text-align: center;
    width: 280px !important;
    margin-left: 5% !important;
  }

  /*=================*/
  /*Nos Expertise Interface */

  #NosExpertiseTitre {
    margin-top: 5% !important;
    margin-bottom: -10% !important;
  }

  .ServiceAI_data>h5 {
    text-align: center !important;
    margin-left: -2% !important;
  }

  .ServiceDigital_data>h5 {
    text-align: center !important;
    margin-left: -8% !important;
  }

  .paragraph_ServiceAI {
    text-align: center !important;
    margin-left: 1% !important;
  }

  .paragraph_ServiceDigital {
    margin-left: 1% !important;
    margin-right: 2% !important;
    margin-bottom: -25% !important;
    text-align: center !important;
  }

  .digitalOptions>li {
    text-align: center !important;
    margin-left: -10% !important;
  }

  .img_service_AI {
    margin-left: 9% !important;
    margin-top: -9% !important;
    border-radius: 30px;
    width: 300px !important;
  }

  .img_service_digital {
    margin-top: 9% !important;
    margin-left: 8% !important;
    margin-bottom: -4% !important;
    width: 300px !important;
  }

  .AI_slogan {
    padding-right: 6% !important;
    text-align: center !important;
  }

  .intro_AI_data {
    text-align: center !important;
    margin-top: 20% !important;
    margin-bottom: -10% !important;
  }

  .img_cercle_AI {
    width: 310px !important;
    margin-top: -19px !important;
    margin-bottom: 25% !important;
    margin-left: 7% !important;
  }

  .intro_AI_data {
    margin-left: 9% !important;
    margin-right: 9% !important;
  }

  .etape_AI {
    width: 310px !important;
    height: 465px !important;
    margin-bottom: 15px !important;
    margin-left: 8% !important;
    margin-right: 1% !important;
    box-shadow: 0 0 45px 0 #c7c7c7;
    border-radius: 25px;
    transition: box-shadow .3s;
  }

  .etape_AI_paragraph {
    text-align: center !important;
  }

  /*========================*/

  /* A propos Interface */

  .Apropos {
    margin-top:-5% !important;
    text-align: center !important;
  }

  #AproposSuperText {
    margin-left: -23% !important;

  }

  #AproposParag {
    text-align: center !important;
    margin-left: -8% !important;
  }

  #AproposImgSize {
    width: 340px !important;
    margin-left: -11% !important;
  }

  /*==================*/
  /** espace carriere **/
  .Contact_form {
    margin-left: -6% !important;
    margin-right: -1% !important;
  }

  .ContactezNous_container {
    margin-left: 10% !important;
    margin-right: 6% !important;
  }

  .bloc_welcoming_phrases {
    margin-top: -50px !important;
    margin-bottom: 40px;
    padding-top: 100px;

  }

  /************************************/
  #RiseLoader {
    margin-top: 260px !important;
    margin-left: 110px !important;
  }

  /*===================*/
}

/**** Tablets screen between 768px and 900px ****/
@media screen and (min-width:768px) and (max-width:900px) {
  
.btnNosSolution {
    margin-left: -350px !important;
    text-align: center;
  }
  .Nav_home:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 40% !important;
    position: relative;
    background: #25ACDE;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .Nav_home:hover:after {
    width: 20% !important;
    left: 40% !important;
  }
  
  .Nav_homeNosSolution:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 40% !important;
    position: relative;
    background: #25ACDE;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    margin-top:-27px !important;
  }
  .Nav_homeNosSolution:hover:after {
    width: 20% !important;
    left: 40% !important;
    
  }
  /**footer **/
  #socialIcons {
    margin-left: -10% !important;
    margin-top: 70% !important;
  }

  #copyright_title {
    margin-left: -3% !important;
    margin-top: 3% !important;
  }

  #navfooter {
    padding-top: 15% !important;
  }

  /*============*/

  /**Home Interface */
  #NavText_home {
    border-radius: 30px !important;
    text-align: center !important;
    text-transform: uppercase;
    margin-right: 20px;
    margin-left: 20px;
    padding-right: 0px;
    font-size: 15px;
    color: black !important;
  }

  .solution-description-container {
    width: 90% !important;
    padding: 40px 5px 20px 5px !important;
  }

  .solution-img {
    width: 100% !important;
    height: 90% !important;
  }

  .expertiseBox{
    margin-right: 80px !important;
  }

  .portfolio-img{
    width: 100% !important;
  }
  /**==================*/
  
  /** HodHod interface **/

  #HodhodContentParagraphTitle{
    margin-left:-50px !important;
  }
  #HodhodContentParagraphDes{
  margin-left: -50px !important;
  margin-right:-90px !important;
  }

  #videoPicture{
    margin-top:70px !important;
    width: 450px !important;
    margin-right:-15% !important;
  }

  #ComposantsHodhodTitle{
    margin-top: 50px !important;
  }
  #hodhodbox {
    margin-left: 1% !important;
    margin-top: 4%;
    width: 650px !important;
  }

  #compBorder1 {
    width: 30% !important;
    margin-bottom: 50px !important;
    margin-left: 3% !important;
  }

  #compBorder2 {
    width: 30% !important;
    margin-bottom: 50px !important;
  }

  #compBorder3 {
    width: 30% !important;
    margin-bottom: 50px !important;
    padding-top: 5% !important;
    
  }
  #mobPicture {
    width: 280px !important;
    margin-bottom: 15% !important;
    margin-left: 3% !important;
  }

  #mobPara {
    text-align: center !important;
    margin-left: -1% !important;
  }
  
  #ImpactBox{
    margin-bottom: -30px !important;
  }
  #bgPsize {
    width: 65% !important;
    border-radius: 25px;
    margin-top: 15px !important;
    margin-left:140px !important;
  }

  #hodhodImage{
    margin-left: 250px !important;
  }
  /*=================*/
  
  /*** Senses IA Interface ***/
  #SensesIATitleTxt {
    margin-top: 5% !important;
    margin-left: 3%;
  }

  #p_descriptionSensesIA {
    margin-left: 3% !important;
    margin-bottom: 13% !important;
  }

  #img-descriptionSensesIA {
    width: 280px !important;
    height: 70% !important;
    margin-left: 13% !important;
    margin-bottom: 5% !important;
    margin-top: 23% !important;
  }

  #ComposantsSensesIATitle {
    margin-top: 12% !important;
    margin-bottom: 10% !important;
  }

  #blocComposantsSensesIA {
    text-align: center;
    width: 100% !important;
    margin-left: -1% !important;
  }


  /*=================*/

  /**Nos expertise Interface **/

  .img_service_AI{
    margin-top: 160px !important;
  }
  
  .img_service_digital{
   margin-top: 200px !important;
   }
  .etape_AI {
    margin-left: 120px !important;

  }

  .img_cercle_AI{
    margin-left: 20px !important;
    margin-bottom: 50px !important;
    width: 700px !important;
  }

  .intro_AI_data{
    margin-top: 30px !important;
  }


  /*==========================*/

  /* A propos Interface */

  .Apropos {
    margin-top:-5% !important;
    text-align: left !important;
  }

  #AproposSuperText {
    margin-left: -6% !important;
  }

  #AproposParag {
    text-align: left !important;
    margin-left: -8% !important;
  }

  #AproposImgSize {
    width: 340px !important;
    margin-left: 1% !important;
    margin-top: 23% !important;
  }

  /*==================*/
  
  /*********Espace carriere********************/
  .bloc_welcoming_phrases {
    margin-top: -50px !important;
    margin-bottom: 40px;
    padding-top: 100px;

  }

  .Contact_form {
    margin-left: -8% !important;
    margin-right: -8% !important;
  }

  /************************************/
  #RiseLoader {
    margin-top: 410px !important;
    margin-left: 350px !important;

  }
}

/**************** Default version ********************/

/*********Home interface*****************/

/*******Navbar Header Home interface*****/

.logo_supersensesHome {
  width: 107px;
  height: 76.42px;
  margin-left: 10px;
  margin-right: 5px;
  margin-top: -180%;
}

.bgTestImg {
  content: url("./components/images/logo_supersenses.png");
  width: 100px !important;
}


.Nav_home {
  text-transform: capitalize;
  margin-right: 20px;
  margin-left: 20px;
  padding-right: 0px;
  font-size: 20px;

}

.Nav_home:after{
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 10%;
	position: relative;
	background: #25ACDE;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}
.Nav_home:hover:after {
	width: 100%;
	left: 0;
}

.Nav_homeNosSolution:after{
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 10%;
	position: relative;
	background: #25ACDE;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
  margin-top:-7px;
}
.Nav_homeNosSolution:hover:after {
	width: 100%;
	left: 0;
}
.Nav_homeNosSolution {
  text-transform: capitalize;
  margin-right: 20px;
  margin-left: 20px;
  padding-right: 0px;
  font-size: 20px;
}

#NavText_home {
  text-transform: capitalize;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
  padding-right: 0px;
  font-size: 20px;
  color: white;
}

.Nav_itemHomeInterface {
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 0px;
  margin-left: 25px;
  padding-right: 0px;
  font-size: 15px;
}

.hashLinkNavBar {
  text-decoration: none;
  color: white;
}

.hashLinkNavBar:hover {
  color: white;
}

.hashLinkNavBarDropDown {
  text-decoration: none;
  color: black;
}

.hashLinkNavBarDropDown:hover {
  color: black;
}

#bg_img_header {
  background-image: url("./components/images/bg_img_header.png");
  background-size: 956px 400px;
  background-repeat: no-repeat;
  background-position: top right;
}


.logo_supersenses {
  width: 107px;
  height: 76.42px;
  margin-left: 10px;
  margin-right: 5px;
}

#languageIcon {
  display: inline;
  margin-left: 150%;
  margin-top: 380%;

}

#selectLangue {

  border-radius: 10px;
  margin-left: 12px;
}

#NavText_other {
  color: black;
}

.Nav_itemHomeInterface {
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 0px;
  margin-left: 25px;
  padding-right: 0px;
  font-size: 15px;

}

/*************************/

.Description_supersenses {
  margin-top: 200px;

}

.Description_supersenses {
  margin-top: 200px;
}

.bienvenuto {
  font-size: 37px;
  letter-spacing: -0.59px;
  font-weight: 500;
}

.big-title {
  font-size: 69px;
  letter-spacing: -1.56px;
  font-weight: 500;
}

.bienvenuto-p {
  font-size: 18px;
}

.more-info-btn {
  border: 1px solid black !important;
  border-radius: 10px !important;
  padding: 7px 30px !important;
  font-size: 16px !important;
  margin-bottom: 40px;
}

/*************** Nos Valeurs *******************/

.part2 {
  margin-top: 100px;
  width: 100%;
}

#title1 {
  font-style: normal;
  font-variant: normal;
  font-weight: medium;
  font-size: 30px;

}

#title2 {

  font-style: normal;
  font-variant: normal;
  font-weight: medium;
  font-size: 20px;
  line-height: 30px;
}

#NosValNosSolutions {

  font-style: normal;
  font-variant: normal;
  font-weight: medium;
  font-family: 'Roboto';
  font-size: 30px;
}

.p1 {
  display: flex;
  justify-content: center;
}

.p1 p {
  text-align: center;
  font-style: normal;
  font-variant: normal;
  font-weight: medium;
  font-size: 20px;
  line-height: 26px;
}

.images {
  margin-left: 60px;
  margin-top: 50px;
}

.img {
  width: 327px;
  height: 267px;
}

#hoverImg1 :hover {
  transform: scale(1.3);
  z-index: 2;

}

.imgText {
  margin-top: -20%;
  margin-left: 25%;
  border-color: grey;
}

.imgText :hover {
  z-index: 3;
}

.solution {
  margin-top: 10%;
}

/***************************************************/

/***************Comment section in the home interface*********/

#boxs {
  margin-top: 6%;
  margin-left: 170px;
  width: 98%;
}

.bgSolution {
  width: 73%;
  height: 322px;
}

#chatSize {
  width: 20%;
  margin-left: 40%;
  margin-top: -5%;
}

#chatSize2 {
  width: 15%;
  margin-left: 38%;
  margin-top: -6%;
}

#SensiaP {
  font-size: 16px;
  text-align: center;
  font-style: normal;
  font-variant: normal;
  font-weight: medium;
  font-family: 'Roboto';
  line-height: 22px;
  color: #000;

}

.box {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 3px 6px #888992;
  border-radius: 21px;
  opacity: 1;
  backdrop-filter: blur(7px);
  width: 58%;
  height: 40%;
  margin-top: -20%;
  margin-left: 7%;

}

.img3Box {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 3px 6px #888992;
  border-radius: 21px;
  opacity: 1;
  backdrop-filter: blur(7px);
  width: 58%;
  height: 40%;
  margin-top: -20%;
  margin-left: 6.25%;
}

#img3Solution {
  width: 70%;
  height: 326px;

}


#hodhodTitle {
  font-size: 25px;
  text-align: center;
  font-style: normal;
  font-variant: normal;
  font-weight: medium;
  font-family: 'Roboto';
  line-height: 30px;
  margin-top: -1%;
  color: #494B58;
  padding-top: 6%;

}


#hodhodparagraph {
  font-size: 16px;
  text-align: center;
  font-style: normal;
  font-variant: normal;
  font-weight: medium;
  font-family: 'Roboto';
  line-height: 22px;
  color: #000;
  padding-left: 15%;
}

.chatLogo {
  width: 10%;
  height: 20%;
  margin-top: 27%;
  margin-left: -73%;
  position: relative;
}

#img1 {
  width: 25%;
  margin: 0.1%;
}

/****************/
/*************hover Images**************/

.image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  width: 327px;
  height: 267px;
}

.our-value-item {
  position: relative;
  text-align: center;
}

.our-value-image {
  transition: transform .2s;
  width: 100%;
  max-width: 340px;
}

.our-value-text-container {
  transition: transform .2s;
  opacity: 0;
  position: absolute;
  bottom: -1px;
  width: 106%;
  max-width: 354px;
  background: rgba(150, 149, 149, 0.253);
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
}

.our-value-text {
  align-self: center;
  font-weight: 500;
}

.our-value-item:hover .our-value-image {
  transform: scale(1.1);
  z-index: 2;
}

.our-value-item:hover .our-value-text-container {
  opacity: 1;
}


@media(max-width: 991px) {
  .our-value-text-container {
    opacity: 1;
    width: 96% !important;
    bottom: 0 !important;
    max-width: 326px !important;
  }

  .our-value-item:hover .our-value-image {
    transform: none !important;
  }
}

@media(max-width: 767px) {
  .our-value-item {
    margin-bottom: 14px;
  }
}


#hoverImg2 :hover {
  transform: scale(1.3);
  z-index: 2;

}

#hoverImg3 :hover {
  transform: scale(1.3);
  z-index: 2;

}

.solution {
  margin-top: 120px;
}

.solutions-container {
  margin-top: 20px;
  margin-bottom: 150px;
}

.link-to-solution {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -70px;
}

.solution-img {
  margin-bottom: 30px;
  width: 100%;
  max-width: 446px;
  align-self: center;
  box-shadow: 0px 3px 6px #888992;
  border-radius: 20px;
}

.solution-description-container {
  position: absolute;
  bottom: -50px;
  left: 50%;
  width: 60%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  background: rgba(150, 149, 149, 0.253);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 21px;
  box-shadow: 0px 3px 6px #888992;
  padding: 40px 20px 20px 20px;

}

.solution-title {
  text-align: center;
  color: black;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

.solution-text {
  color: black;
  font-size: 16px;
  text-align: center;
}

.solution-icon {
  position: absolute;
  bottom: 75px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

/**********************/

.portfolio-container {
  margin-top: 70px;
}

#portfolioBox {
  width: 1530px;
}

#hodhod1 {
  width: 488px;
  height: 370px;
  margin-top: 70px;
}

#LinkHome {
  text-decoration: none;

}

#portfolioBox {
  width: 1530px;
}

#portfolio1:hover {
  transform: scale(1.3);
  z-index: 2;
  box-shadow: 50% 50% 50% rgb(97, 96, 96);
  border-radius: 25px;
  filter: drop-shadow(10px 10px 10px rgb(69, 71, 69));
}

/****************/

/*********************** Notre expersise Home interface ****************/
.expertisets {
  width: 100%;
  padding-right: 60px;
  background-image: url('./components/images/Bg_expertise.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 510px;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 20px;
  padding-top: 20px;
}

.expertiseBox {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 6px #888992;
  border-radius: 21px;
  opacity: 0.85;
  backdrop-filter: blur(7px);
  line-height: 3em;
  height: 390px;
  padding-right: 30px;
  padding-top: 20px;
}

.expertiseBox ul {
  list-style: none;
}

.expertiseBoxItems {
  font-weight: 500 !important;
}

.expertiseBox ul li:not(:last-child) {
  margin-bottom: 20px;
}

/*********************/

/******* Hodhod Interface *********/

.NosSolutionsTitle {
  text-align: center;
  margin-top: 10%;
}

.bgSolutionImg {
  background-image: url('./components/images/bannière supersenses@2x.png');
  background-repeat: no-repeat;
  background-size: 100% 90%;
  height: 487px;

}

#NosSolutionVideo {
  margin-left: 26%;
}

.videoBorder {
  border-radius: 18px;
  height: 80%;
  width: 90%;
}

#NosSolutionsTitleHodhod {
  margin-left: 35%;
}

#hodhodP {
  width: 99%;
}

#HodhodContentParagraph {
  margin-left: 84px;
}

#ComposantsHodhodTitle {
  margin-top: -3%;
  margin-left: 4%;
  margin-bottom: 4%;
}

#compBorder1 {
  margin-left: 13%;
  margin-right: -5%;
  border-radius: 25px;
  height: 180px;
}

#compBorder2 {
  margin-right: -5%;
  border-radius: 25px;
  height: 180px;
}

#compBorder3 {
  padding-top: 2%;
  border-radius: 25px;
  height: 180px;
}

#hodhodbox {
  margin-left: -10%;
  margin-top: 2%;
}

#mobPara {
  margin-left: -20%;
  margin-right: 7%;
  text-align: left;
}

#mobPicture {
  margin-top: -15%;
  margin-left: -17%;
}

#mobSize {
  margin-top: 18%;
}

#deveneztitle {
  margin-top: 4%;
  margin-bottom: 4%;
  color: white;
}

#devenezParag {
  padding-left: 13%;
  padding-right: 11%;
  padding-bottom: 5%;
  color: white;
}

.PictureContent {
  width: 80%;
  margin-left: 10%;
}

#PicturesPadding {
  margin-left: 5%;
  width: 80%;
}

#imageSize {
  width: 100%;
  height: 65%;
}

.kitelectronique {
  margin-top: 8%;
}

.platform {
  margin-top: 8%;
}

#backgroundimg {
  background-image: url('./components/images/Groupe_de_masques_10117.png');
  background-size: cover;
  height: 100%;
  margin-left: 0%;
  background-repeat: no-repeat;
  margin-top: 6%;

}

#apptitle {
  margin-top: 7%;
  margin-left: 20%;
}

.CarouselPict div {
  padding: 6px;
}

#CarouselBorder {
  border-radius: 15px;
}

#hodhodImage {
  width: 226px;
  height: 166px;
  margin-top: 10%;
  margin-left: 40%;
  border-radius: 20px;
}

#ImpactBox {
  margin-top: 10%;
}

#bgPsize {
  margin-right: -5%;
  border-radius: 25px;
  height: 350px;
  width: 250px;
}

.NosSolution {
  margin-top: 5%;
}

#hodhodStatement {
  text-align: center;
  font-style: normal;
  font-variant: normal;
  font-weight: medium;
  font-family: 'Roboto';
  color: #000000;
  font-size: 22px;
  line-height: 29px;
}

#googlePlay {
  width: 15%;
  height: 100%;
  margin-left: 43%;
}

#CarouselPosition {
  margin-left: 35%;
  width: 30%;
  padding-top: 3%;

}

#sizeImg {
  height: 100px;
}

#CarouselPicture {
  width: 200px;
}

/*********************/

/****************Solution SensesIA*******************/

#blocSensesIA {
  margin-top: 10%;
}


#img-descriptionSensesIA {
  width: 80%;
  height: 80%;
  margin-left: 10%;
}

#SensesIATitleTxt {
  margin-left: 8%;
}

#p_descriptionSensesIA {
  margin-top: 5%;
  margin-left: 8%;
  margin-right: -10%;
}

#ComposantsSensesIATitle {
  margin-top: -2%;
  text-align: center;
}

#blocComposantsSensesIA {
  margin-top: 5%;
  margin-left: -11%;
  text-align: center;
}

.img-composant-sensesIA {
  width: 10%;
  height: 35%;
  margin-bottom: 2%;
  border-radius: 10%;

}

#kitElectronique {
  margin-top: 8%;
  margin-bottom: 5%;
  height: 62px;
  width: 62px;
}

#stockageCloud {
  margin-top: 9%;
  margin-bottom: 6%;
  height: 62px;
  width: 62px;
}

#plateformeIntelligente {

  margin-top: 4%;
  margin-bottom: 5%;
  height: 62px;
  width: 62px;
}

/******************/

/***********************Nos expertises ***************************/

#NosExpertiseTitre {
  margin-top: 10%;
}

.NosExpertises_Container {
  margin-bottom: 100px;
  width: 100%;
}

.ServiceAI {
  margin-top: -1%;
  width: 80%;
}

.NosServicesTitle {
  text-align: center;
  margin-bottom: 60px;
  font-size: 40px;
}

.ServiceDigital_data>h5 {
  font-weight: bold;
}

.ServiceAI_data>h5 {
  font-weight: bold;
  margin-left: 10%;

}

.paragraph_ServiceAI {
  margin-top: 20px;
  margin-left: 10%;
  text-align: justify;
}


.paragraph_ServiceDigital {
  margin-top: 20px;
  margin-right: 12%;
  text-align: justify;
}


.paragraph_ServiceDigital>i {
  margin-left: -10px;
}


.ServiceDigital {
  margin-top: 40px;
}

.ServiceAI_data {
  padding: 40px 10PX;
  /*background-color: rgba(224, 240, 253);*/
}

.ServiceDigital_data {
  padding: 30px;
  /*background-color: rgba(224, 240, 253);*/

  margin-bottom: 53px;
}

.img_service_AI {
  margin-left: 10%;
  margin-top: 7%;
  border-radius: 30px;
  width: 80%;
  box-shadow: 0px 0px 15px rgba(224, 240, 253);
  border-radius: 25px;
}

.img_service_digital {
  margin-top: 70px;
  margin-left: 10%;
  width: 80%;
  box-shadow: 0px 0px 15px rgba(224, 240, 253);
  border-radius: 25px;

}

.AI_slogan {
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 5%;
  text-align: center;
  color: white;
}

/*********************/
/***********************IACestQuoi*******************************/

.bloc_intro_AI {
  width: 20%;
  margin-top: 115px;
  align-items: center;
}

.img_cercle_AI {
  margin-left: -8%;
}

.intro_AI_data {
  text-align: justify;
  background-color: rgba(224, 240, 253);
  border-radius: 20px;
  padding-top: 30px;
  margin-left: 6%;
  margin-right: 5%;
}

.intro_AI_data>h5 {
  padding: 3%;
}

.intro_AI_data>p {
  padding: 3%;
  margin-top: -20px !important;
}

.bloc_etapes_AI {
  margin-top: 90px;
  width: 70%;
}

.bloc_etapes_AI_title {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 60px;
  font-size: 20px;
}

.etape_AI_title {
  margin-bottom: 25px;
  margin-top: 15px;
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
}

.etape_AI {
  width: 450px;
  height: 345px;
  text-align: justify;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 30px;
  padding: 40px;
  box-shadow: 0 0 45px 0 #c7c7c7;
  border-radius: 25px;
  transition: box-shadow .3s;
}

.etape_AI:hover {
  box-shadow: 0 0 0 5px rgba(239, 233, 233, 0.835);

}

.icon_etapes_AI {
  width: 20px;
  height: 30px;
  margin-left: 45%;
}


#blocBD_header:hover {
  color: #25ACDE;
}

#blocEntrainement_header:hover {
  color: #25ACDE;
}

#blocIterations_header:hover {
  color: #25ACDE;
}

#blocMiseEnProduction_header:hover {
  color: #25ACDE;
}


/**********************A propos nous **********************/

#AproposNousHeaderTxt {
  margin-top: 10%;
  margin-bottom: -4%;
}

#AproposImg {
  margin-top: 3%;
  margin-left: -5%;
  height: 350px;
  border-radius: 20px;
  width: 400px;
}

#AproposParag {
  text-align: left;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'Roboto';
  color: #000000;
  font-size: 14px;
  line-height: 22px;
  margin-top: -1%;
  margin-left: 5%;
  margin-right: 10%;
}

#AproposContent {
  margin-top: 10%;
  margin-left: 10%;
}

#AproposSuperText {
  text-decoration: underline #25ACDE;
  margin-left: 5%;
}

#AproposHeader {
  padding-top: 3%;

}

/*********************************/

/*****************************NosOffres**************************/
.NosOffres {
  margin-top: 5%;
}

#boxF {
  margin-top: 6%;
}

#boxM {
  margin-top: 6%;
  border-radius: 25px;
}

#buttonOffre {
  border-radius: 25px;
  margin-left: 100%;
  margin-top: -22%;
  width: 40%;
  height: 2%;
  text-decoration: none;
}

#boxoffres {
  margin-right: 25%;
}

#infoOffre {
  width: 180%;
}

/******************************************/

/***********************NavBarHeader**************/
#HomeNav {
  margin-left: 28%;

}

.navbarTestIcons{
  box-shadow: 2px 2px 10px 1px rgba(200, 196, 196, 0.745);
  position: fixed !important;
  width: 100%;
  color: #000; 
  top: 0%;
}

.logo_supersenses {
  width: 107px;
  height: 76.42px;
  margin-left: 10px;
  margin-right: 5px;
}

#languageIcon {
  display: inline;
  margin-left: 150%;
  margin-top: 380%;

}

#selectLangue {
  border-radius: 10px;
  margin-left: 12px;
}

.dpSolution {
  font-size: 15px;
  color: white;
  margin-top: -6%;
}

/********************NavBarFooter**********************/

#supersenses-footer {
  margin-top: 60px;
  background-image: url('../src/components/images/bg_img_footer1_1_1510x400.png');
  background-repeat: no-repeat;
  background-size: 1510px 400px;
  background-position: bottom left;
  height: 400px;
}

#supersenses-footer .container {
  height: 100%;
}

#supersenses-footer .flex-footer {
  height: 90%;
  padding-bottom: 50px;
}

#supersenses-footer .copy-right {
  height: 10%;
  color: white;
  text-align: center;
}

.logo-footer {
  width: 100%;
  max-width: 150px;
}

.contact-link {
  text-decoration: none;
  color: white;
}

.contact-link:hover {
  text-decoration: underline;
  color: white;
}

.footer-socials-title {
  color: white;
  margin-right: 10px;
}

.footer-social-icon {
  margin-right: 10px;
}



/***********************/
.bgTestImg {
  content: url("./components/images/logo_supersenses.png");
  width: 100px !important;
}

/************************/

/***********************ContactezNous*******************************/
.ContactezNous_container {
  margin-left: 20%;
  margin-right: 20%;
}

.bloc_welcoming_phrases {
  margin-top: 10px;
  margin-bottom: 40px;
  padding-top: 100px;

}

.welcoming_phrase {
  text-align: center;

}

#SeSoumettre_btn {
  text-align: center;
  width: 100%;
  border-radius: 10px;
  background-color: #25ACDE;
}

.Contact_form {
  padding-top: 50px;
  box-shadow: 0 0 15px 0 #c7c7c7;
  border-radius: 30px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  margin-left: -15%;
  margin-right: -15%;

}

#Contact_input {
  border-radius: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}


/***********************/


/********** loading Design***********/

#RiseLoader {
  margin-top: 250px;
  margin-left: 550px;

}

/***********************/
@media(max-width: 404px) {
  #title1 {
    font-size: 26px;
  }
}

@media(max-width: 487px) {
  .expertisets {
    padding: 30px 20px;
    margin-top: -5%;
  }
}

@media(max-width: 767px) {
  .p1 p {
    text-align: left;
    margin-left: 3%;
  }
}

@media(max-width: 1144px) {
  #bg_img_header {
    background-size: 800px 335px;
  }
}

@media(max-width: 991px) {
  #bg_img_header {
    background-size: 500px 209px;
  }

  .Description_supersenses {
    margin-top: 100px !important;
  }
}

@media(max-width: 666px) {
  #bg_img_header {
    background-size: 400px 167px;
  }
}


@media(max-width: 483px) {
  #bg_img_header {
    background-size: 300px 125px;
  }
}

@media(max-width: 389px) {
  #bg_img_header {
    background-size: 230px 96px;
  }
}

@media(max-width: 767px) {
  #supersenses-footer {
    height: 480px;
    background-size: 1510px 480px;
  }

  #supersenses-footer .flex-footer {
    padding-top: 84px;
    padding-bottom: 30px;
  }
}


@media(max-width: 991px) {
  #basic-navbar-nav {
    background-color: rgba(255, 255, 255, 0.896);
    position: absolute;
    top: 100px;
    left: 3%;
    right: 3%;
    width: 94%;
    flex-direction: column;
    box-shadow: 0px 3px 6px #888992;
    border-radius: 25px;
    backdrop-filter: blur(6px);


  }

  #basic-navbar-nav .Nav_home,
  #basic-navbar-nav #dropdown_Solution,
  #basic-navbar-nav .dropdown-item {
    text-align: center;
    width: 100%;
    padding: 1.5rem 0;
    margin-right: 0px;
    margin-left: 0px;
    background-color: white;
  }

}

@media(max-width: 766px) {
  .Description_supersenses {
    margin-top: 50px !important;
  }
}

@media(max-width: 991px) {
  .bienvenuto {
    font-size: 27px;
  }

  .big-title {
    font-size: 49px;
  }

}