@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@font-face {
  font-family: "CaviarDreams";
  src: local("CaviarDreams"),
    url("./fonts/CaviarDreams_Bold.ttf") format("truetype");
  font-weight: bold;
}

/* Media Queries */
/****** big screen ****/
@media only screen and (min-width:1301px) and (max-width:2000px) {}

/*********screen between 1100px and 1300px *************/
@media only screen and (min-width: 1100px) and (max-width:1300px) {
  #portfolioBox {
    width: 97% !important;
    margin-left: 25px !important;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 78% !important;
    left: 100px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .Apropos {
    margin-top: 6% !important;
  }

  #portfolio1:hover {
    transform: scale(1.3);
    z-index: 2;
    width: 85% !important;
  }

  #portfolio1 {
    width: 90%;
  }

  #boxs {
    margin-top: 6%;
    margin-left: 185px !important;
    width: 990px !important;
  }

  .expertisets {
    background-image: url('./components/images/Groupe_19186.png');
    width: 100% !important;
    margin-left: 0% !important;
    background-repeat: no-repeat;
    background-size: 100% 90%;
    height: 487px;
    padding-top: 8%;

  }


  .expertiseBox {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 3px 6px #888992;
    border-radius: 21px;
    opacity: 1;
    backdrop-filter: blur(7px);
    width: 400px !important;
    height: 250px !important;
    margin-left: -83% !important;
    padding-top: 2.5%;
    line-height: 3em;
  }

  #navfooter {
    background-image: url('../src/components/images/bg_img_footer1_1_1510x400.png');
    background-repeat: no-repeat;
    width: 98% !important;
    height: 400px;
    margin-left: 0%;
    margin-top: 6%;
  }

  .image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    width: 280px !important;
    height: 267px;
  }

  .contenuS:hover .image {
    transform: scale(1.3);
    z-index: 2;
    width: 280px !important;
    height: 267px !important;

  }

  .text {
    background-color: gray;
    opacity: 0.9;
    color: white;
    font-size: 25px;
    width: 346px !important;
    height: 81px;
    margin-left: 11.5% !important;
    margin-top: 26% !important;
    padding-top: 4%;
    border-radius: 0px 0px 25px 25px;
  }

  #img3Solution {
    width: 70%;
    height: 251px !important;
  }

  .img3Box {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 3px 6px #888992;
    border-radius: 21px;
    opacity: 1;
    backdrop-filter: blur(7px);
    width: 58%;
    height: 50% !important;
    margin-top: -20%;
    margin-left: 6.25%;
  }

  .box {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 3px 6px #888992;
    border-radius: 21px;
    opacity: 1;
    backdrop-filter: blur(7px);
    width: 58%;
    height: 48% !important;
    margin-top: -20%;
    margin-left: 7%;

  }



  #backgroundimg {
    background-image: url('./components/images/Groupe_de_masques_10117.png');
    background-size: 100% 100%;
    width: 109% !important;
    height: 100%;
    margin-left: -5% !important;
    background-repeat: no-repeat;
    margin-top: 6%;

  }

  #findOn {
    margin-left: 2% !important;
    font-size: 15px !important;
    margin-top: 38% !important;


  }

  .fb_logo {
    margin-left: -3% !important;
    margin-top: 35% !important;
  }

  .insta_logo {
    margin-left: -160% !important;
    margin-top: 35% !important;
  }

  .linkedin_logo {
    margin-left: -80% !important;
    margin-top: 35% !important;
  }

  #logo_sup {
    margin-left: 35%;
    margin-top: 38% !important;
  }

}


/****** for screen between 980 and 1099 *******/
@media only screen and (min-width: 980px) and (max-width:1099px) {

  .logo_supersenses {
    width: 107px;
    height: 76.42px;
    margin-left: 15px !important;
    margin-right: 5px;
  }

  #portfolioBox {
    width: 800px !important;
    margin-left: 10px !important;
  }

  #portfolio1 {
    width: 100%;

  }

  #img3Solution {
    width: 60% !important;
    height: 200px !important;

  }

  .img3Box {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 3px 6px #888992;
    border-radius: 21px;
    opacity: 1;
    backdrop-filter: blur(7px);
    width: 48% !important;
    height: 52% !important;
    margin-top: -20%;
    margin-left: 6.25%;

  }

  .box {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 3px 6px #888992;
    border-radius: 21px;
    opacity: 1;
    backdrop-filter: blur(7px);
    width: 50% !important;
    height: 52% !important;
    margin-top: -20%;
    margin-left: 5% !important;
  }

  #boxs {
    margin-top: 6%;
    margin-left: 50px !important;
    width: 990px !important;
  }

  #hodhodparagraph {
    font-size: 14px !important;
    text-align: center;
    font-style: normal;
    font-variant: normal;
    font-weight: medium;
    font-family: 'Roboto';
    line-height: 22px;
    color: #000;
    padding-left: 15%;
  }

  #SensiaP {
    font-size: 14px !important;
    text-align: center;
    font-style: normal;
    font-variant: normal;
    font-weight: medium;
    font-family: 'Roboto';
    line-height: 22px;
    color: #000;
  }

  .images {
    padding-top: 5%;
    margin-left: 60px;
    width: 30% !important;
  }

}

/*********** mobile screen between 480px and 769px**************************/
@media only screen and (min-width:480px) and (max-width:769px) {
  #portfolioBox {
    width: 450px !important;
    margin-left: 10px !important;
  }

  #videoPicture {
    width: 300px !important;
  }

  .nav-header {
    z-index: 12;
    position: fixed;
    background-color: white;
    width: 99% !important;
    margin-top: -85px;

  }

  .NosSolution {
    margin-top: 15% !important;
  }

  #portfolio1 {
    width: 100%;
  }

  #boxs {
    margin-top: 6%;
    margin-left: 170px;
    width: 100% !important;
    flex-wrap: wrap !important;
  }

  .expertiseBox {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 3px 6px #888992;
    border-radius: 21px;
    opacity: 1;
    backdrop-filter: blur(7px);
    padding: 30px 10px;
    line-height: 3em;
    margin-left: 15% !important;
  }

  .contenuS .image {
    transform: scale(1.3);
    z-index: 2;
    width: 240px !important;
    height: 210px !important;
    margin: 30px !important;

  }

  .text {
    background-color: gray;
    opacity: 1;
    color: white;
    font-size: 10px;
    width: 298px !important;
    height: 81px;
    margin-left: 16.4% !important;
    margin-top: 15% !important;
    padding-top: 4%;
    border-radius: 0px 0px 25px 25px;
  }

  .middle {
    opacity: 1 !important;
    position: absolute;
    top: 81%;
    left: 100px;
    text-align: center;
  }

  .image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    width: 240px !important;
    height: 270px !important;

  }

  .contenuS {
    position: relative;
    width: 50%;
    margin-left: 10% !important;
  }

  .bgSolutionImg {
    background-image: url('./components/images/bannière supersenses@2x.png');
    background-repeat: no-repeat;
    background-size: 100% 50% !important;
    height: 487px;
  }

  #hodhodP {
    margin-bottom: 80px !important;
  }

  #hodhodbox {
    margin-left: 4% !important;
    margin-top: 4%;
    width: 80% !important;
  }

  #mobPicture {
    width: 350px !important;
  }

  #backgroundimg {
    background-image: url('./components/images/Groupe_de_masques_10117.png');
    background-size: 100% 100%;
    width: 106% !important;
    height: 100%;
    margin-left: -5% !important;
    background-repeat: no-repeat;
    margin-top: 6%;

  }

  #hodhodImage {
    width: 226px;
    height: 166px;
    margin-top: 10%;
    margin-left: 30% !important;
    border-radius: 20px;
  }

  #img-descriptionSensesIA {
    width: 350px !important;
    height: 90% !important;

  }

  #blocComposantsSensesIA {
    margin-top: 5%;
    text-align: center;
    width: 350px !important;
  }

  .img_service_AI {
    margin-left: 10%;
    border-radius: 30px;
    width: 350px !important;
  }

  .img_service_digital {
    margin-top: 20px;
    width: 350px !important;
  }

  .img_cercle_AI {
    width: 400px !important;
  }

  #etape_AI {
    width: 400px !important;
    height: 380px !important;
    text-align: center;
    margin-bottom: 30px;
    padding: 40px;
    box-shadow: 0 0 45px 0 #c7c7c7;
    border-radius: 10px;
    transition: box-shadow .3s;
  }

  #AproposHeader {
    margin-top: 18% !important;

  }
}


/************************/

/*********** mobile screen between 320 px and 479px ***********/
@media screen and (min-width:320px) and (max-width:600px) {

  /**navbar **/
  .nav-header {
    z-index: 12;
    position: fixed;
    background-color: white;
    width: 99% !important;
    margin-top: -25px !important;

  }

  /*==========**/
  /**home Interface**/
  .description_img {
    width: 250px !important;
  }

  .contenuS .image {
    transform: scale(1.3);
    z-index: 2;
    width: 240px !important;
    height: 210px !important;
    margin: 30px !important;
    margin-left: -55px !important;
  }

  .text {
    background-color: gray;
    opacity: 1;
    color: white;
    font-size: 10px;
    width: 298px !important;
    height: 81px;
    margin-left: -69px !important;
    margin-top: 43px !important;
    padding-top: 4%;
    border-radius: 0px 0px 25px 25px;
  }

  .middle {
    opacity: 1 !important;
    position: absolute;
    top: 81%;
    left: 100px;
    text-align: center;
  }

  .image {
    opacity: 1;
    display: block;
    transition: .5s ease;

    width: 120px !important;
    height: 270px !important;

  }

  .contenuS {
    position: relative;
    width: 50%;
    margin-left: 10% !important;
  }

  #hodhod1 {
    width: 340px !important;
    height: 250px !important;
    margin-left: -20px !important;
  }

  .expertiseBox {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 3px 6px #888992;
    border-radius: 21px;
    opacity: 1;
    backdrop-filter: blur(7px);
    width: 400px !important;
    height: 250px !important;
    margin-left: 5% !important;
    padding-top: 2.5%;
    line-height: 3em;
  }

  #expertiseBoxItems {
    font-size: 16px !important;
  }

  #portfolio1 {
    width: 250px !important;
    margin-left: 25px !important;
  }

  /**==================**/

  /*****A propos Interface *****/
  #AproposImgSize {
    width: 315px !important;
  }

  /**================**/

  /**Hodhod Interface **/
  #videoPicture {
    width: 300px !important;
  }

  #hodhodbox {
    margin-left: 4% !important;
    margin-top: 4%;
    width: 80% !important;
  }

  #mobPicture {
    width: 250px !important;
  }

  #hodhodImage {
    width: 226px;
    height: 166px;
    margin-top: 10%;
    margin-left: 15% !important;
    border-radius: 20px;
  }

  .bgSolutionImg {
    background-image: url('./components/images/bannière supersenses@2x.png');
    background-repeat: no-repeat;
    background-size: 100% 50% !important;
    height: 487px;
  }

  /*===================*/
  /* Senses IA interface */
  #img-descriptionSensesIA {
    width: 280px !important;
    height: 90% !important;
    margin-left: 5px !important;
  }

  #blocComposantsSensesIA {
    margin-top: 5%;
    text-align: center;
    width: 280px !important;
  }

  /*==================*/
}

/*****************/

/******Espace Carriere ********/
.me-auto {
  margin-left: 190px;
}

.Nav_item {
  text-transform: uppercase;
  margin-right: 20px;
  margin-left: 20px;
  padding-right: 0px;
  font-size: 15px;
}

/*****************************/

/*********Nos Solutions **********/
.PictureContent {
  width: 80%;
  margin-left: 10%;
}

.videoBorder {
  border-radius: 18px;
  height: 80%;
  width: 90%;
}

#compBorder1 {
  border-radius: 25px;
  height: 180px;
}

#hodhodbox {
  margin-left: -10%;
  margin-top: 4%;
}

#compBorder2 {
  border-radius: 25px;
  height: 180px;
}

#compBorder3 {
  border-radius: 25px;
  height: 180px;
}

.appmobile {

  margin-top: 8%;
}

.kitelectronique {
  margin-top: 8%;
}

.platform {

  margin-top: 8%;
}

#mobSize {
  margin-top: 18%;
}

#deveneztitle {
  margin-top: 4%;
  margin-bottom: 4%;
  color: white;
}

#mobPara {
  margin-right: 4%;
}

#backgroundimg {
  background-image: url('./components/images/Groupe_de_masques_10117.png');
  background-size: 100% 100%;
  width: 117.6%;
  height: 100%;
  margin-left: -9%;
  background-repeat: no-repeat;
  margin-top: 6%;

}

#ImpactBox {
  margin-top: 10%;
}

#devenezParag {
  padding-bottom: 5%;
  color: white;
}

#apptitle {
  margin-top: 7%;
  margin-left: 20%;
}

#CarouselBorder {
  border-radius: 15px;
}

#hodhodImage {
  width: 226px;
  height: 166px;
  margin-top: 10%;
  margin-left: 40%;
  border-radius: 20px;
}

#hodhodStatement {
  text-align: center;
  font-style: normal;
  font-variant: normal;
  font-weight: medium;
  font-family: 'Roboto';
  color: #000000;
  font-size: 22px;
  line-height: 29px;
}

#googlePlay {
  width: 15%;
  height: 100%;
  margin-left: 43%;
}

/* #appStore {
  width: 20%;
  height: 65%;

} */

#bgPsize {
  border-radius: 25px;
}

#imageSize {
  width: 100%;
  height: 65% !important;
}

.CarouselPict div {
  padding: 6px;

}

#NosSolutionParag1 {
  margin-left: 13%;
  margin-top: 4%;
  text-align: justify;
  background-color: #E0F0FD;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  margin-bottom: 6%;
}

#NosSolutionVideo {
  margin-left: 26%;
}

.NosSolution {
  margin-top: 5%;
}

#TitleHodhod {
  margin-top: 4%;

}

.bgSolutionImg {
  background-image: url('./components/images/bannière supersenses@2x.png');
  background-repeat: no-repeat;
  background-size: 100% 90%;
  height: 487px;

}

/*********************************/

/********A PROPOS ****************/
#AproposImg {
  margin-top: 4%;
  margin-right: 2%;
  height: 250px;
  border-radius: 20px;
}

.Apropos {
  margin-top: 5%;
}

#AproposParag {
  text-align: left;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'Roboto';
  color: #000000;
  font-size: 14px;
  line-height: 22px;
  margin-top: 3%;
}

#AproposContent {
  margin-top: 10%;

}

#AproposSuperText {
  text-decoration: underline #25ACDE;

}

#AproposHeader {
  padding-top: 3%;

}


/*********************************/

/***** Nos Valeurs ***************/
#title1 {
  font-style: normal;
  font-variant: normal;
  font-weight: medium;
  font-family: 'Roboto';
  font-size: 30px;

}

#title2 {

  font-style: normal;
  font-variant: normal;
  font-weight: medium;
  font-family: 'Roboto';
  font-size: 20px;
  line-height: 30px;
}

.p1 {
  display: flex;
  justify-content: center;
}

.p1 p {
  text-align: center;
  font-style: normal;
  font-variant: normal;
  font-weight: medium;
  font-family: 'Roboto';
  font-size: 20px;
  line-height: 26px;
}

.images {

  padding-top: 5%;
  margin-left: 60px;
}

.img {
  width: 327px;
  height: 267px;
}

#hoverImg1 :hover {
  transform: scale(1.3);
  z-index: 2;

}

.imgText {
  margin-top: -20%;
  margin-left: 25%;
  border-color: grey;
}

.imgText :hover {
  z-index: 3;
}

/********hover Images****/
.contenuS {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  width: 327px;
  height: 267px;

}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 81%;
  left: 100px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.contenuS:hover .image {
  transform: scale(1.3);
  z-index: 2;
  width: 327px;
  height: 267px;

}

.contenuS:hover .middle {
  opacity: 1;
}

.text {
  background-color: gray;
  opacity: 0.9;
  color: white;
  font-size: 25px;
  width: 404px;
  height: 81px;
  margin-left: 15.5%;
  margin-top: 19%;
  padding-top: 4%;
  border-radius: 0px 0px 25px 25px;
}

/**********************/
#hoverImg2 :hover {
  transform: scale(1.3);
  z-index: 2;

}

#hoverImg3 :hover {
  transform: scale(1.3);
  z-index: 2;

}

.solution {
  margin-top: 19%;

}

#boxs {
  margin-top: 6%;
  margin-left: 170px;
  width: 98%;
}

.bgSolution {
  width: 73%;
  height: 322px;
}

#SoluBorder {
  border-radius: 25px;
}

#chatSize {
  width: 20%;
  margin-left: 40%;
  margin-top: -5%;
}

#chatSize2 {
  width: 15%;
  margin-left: 38%;
  margin-top: -6%;
}

#SensiaP {
  font-size: 16px;
  text-align: center;
  font-style: normal;
  font-variant: normal;
  font-weight: medium;
  font-family: 'Roboto';
  line-height: 22px;
  color: #000;

}

.box {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 3px 6px #888992;
  border-radius: 21px;
  opacity: 1;
  backdrop-filter: blur(7px);
  width: 58%;
  height: 40%;
  margin-top: -20%;
  margin-left: 7%;

}

.img3Box {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 3px 6px #888992;
  border-radius: 21px;
  opacity: 1;
  backdrop-filter: blur(7px);
  width: 58%;
  height: 40%;
  margin-top: -20%;
  margin-left: 6.25%;
}

#img3Solution {
  width: 70%;
  height: 326px;
}

#hodhodTitle {
  font-size: 25px;
  text-align: center;
  font-style: normal;
  font-variant: normal;
  font-weight: medium;
  font-family: 'Roboto';
  line-height: 30px;
  margin-top: -1%;
  color: #494B58;
  padding-top: 6%;

}

#hodhodparagraph {
  font-size: 16px;
  text-align: center;
  font-style: normal;
  font-variant: normal;
  font-weight: medium;
  font-family: 'Roboto';
  line-height: 22px;
  color: #000;
  padding-left: 15%;
}

.chatLogo {
  width: 10%;
  height: 20%;
  margin-top: 27%;
  margin-left: -73%;
  position: relative;
}

#dotDesign {
  border-style: solid;
  border-radius: 50%;
  width: 20%;
  height: 40px;
  margin-left: 45%;
  background-color: white;
}

#savoirplusbtn {
  width: 10%;
  margin-top: 3%;
}

.expertisets {
  width: 100%;
  padding-right: 60px;
  background-image: url('./components/images/Groupe_19186.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 20px;
}

.expertiseBox {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 3px 6px #888992;
  border-radius: 21px;
  opacity: 1;
  backdrop-filter: blur(7px);
  padding: 30px 10px;
  line-height: 3em;
}

.expertiseBox ul {
  list-style: none;
}

#expertiseTitle {
  font-size: 37px;
  text-align: center;
  font-style: normal;
  font-variant: normal;
  font-weight: medium;
  font-family: 'Roboto';
  line-height: 30px;
  color: #000;
  margin-top: 14%;
}



.expertiseList {
  list-style: none;

}



/*********************************/
.p2 {
  display: flex;
  justify-content: center;

}

.p2 p {
  text-align: center;
  font-style: normal;
  font-variant: normal;
  font-weight: medium;
  font-family: 'CaviarDreams';
  font-size: 16px;
  line-height: 21px;
}

.p3 {
  display: flex;
  justify-content: center;

}

/*****************************NosOffres**************************/


/*******************************************/


.impactTitle {
  text-align: center;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'Roboto';
  font-size: 29px;
  line-height: 38px;
}

.ImpactPictures {
  width: 80%;

  padding: 3%;
  margin-left: 10%;

}

#img1 {
  width: 25%;
  margin: 0.1%;
}

#CarouselPosition {
  margin-left: 35%;
  width: 30%;
  padding-top: 3%;

}

#sizeImg {
  height: 100px;
}

#CarouselPicture {
  width: 200px;
}



/******Espace Carriere ********/


.App {
  background-color: white;
}


/***********************NavBarHeader**************/
#HomeNav {
  margin-left: 28%;

}

.nav-header {
  z-index: 12;
  position: fixed;
  background-color: white;
  width: 100%;
  margin-top: -85px;

}

#bg_img_header {
  background-image: url("./components/images/bg_img_header.png");
  background-size: 1053px 286px;
  background-repeat: no-repeat;
  background-position: top right;
}

.logo_supersenses {
  width: 107px;
  height: 76.42px;
  margin-left: 10px;
  margin-right: 5px;
}




#languageIcon {
  display: inline;
  margin-left: 150%;
  margin-top: 380%;

}

#selectLangue {

  border-radius: 10px;
  margin-left: 12px;
}

#NavText_other {
  color: black;
}

.dpSolution {
  font-size: 15px;
  color: white;
  margin-top: -6%;
}



/***************NavBarFooter******************/
#navfooter {
  background-image: url('../src/components/images/bg_img_footer1_1_1510x400.png');
  background-repeat: no-repeat;
  width: 99.236%;
  height: 400px;
  margin-left: 0%;
  margin-top: 6%;
}

#logo_sup {
  margin-left: 35%;
  margin-top: 30%;
}

#col_nav {
  margin-top: 12.2%;
  color: white;
}

.fb_logo {
  margin-left: 50%;
}

.insta_logo {
  margin-left: -130%;
}

.linkedin_logo {
  margin-left: -40%;
}

#findOn {
  margin-left: 3%;
  font-size: 14px;

}

#socialIcons {
  margin-top: 59%;
  color: white;
}

#copyright_title {
  margin-left: 25%;
}

/********************************************/
/*********Nos Solutions **********/
.NosSolutionsTitle {
  margin-top: 85px;
  text-align: center;
  padding-top: 80px;
}


.PictureContent {
  width: 80%;
  margin-left: 10%;
}

#blocSensesIA {
  margin-top: 10%;
}

#CarouselBorder {
  border-radius: 15px;
}

#bg_img_footer {
  background-image: url('./components/images/bg_img_footer1.png');
  background-size: 1060px 390px;
  background-repeat: no-repeat;
  background-position: bottom left;
}


#nav-footer {
  margin-bottom: 0px;
  padding-bottom: 0px;
}


.contact_info_FooterNavBar {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 150px;
}

.logo_supersenses_white {
  width: 164px;
  height: 109px;
}




#PicturesPadding {
  margin-left: 5%;
  width: 80%;
}

#imageSize {
  width: 450px;
  height: 250px;
}

.CarouselPict div {
  padding: 6px;
}

#NavText {
  color: white;
}

/* bouton_inscription{ inline styling } */


#NosSolutionParag1 {
  margin-left: 13%;
  margin-top: 4%;
  text-align: justify;
  background-color: #E0F0FD;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  margin-bottom: 6%;
}

#NosSolutionVideo {
  margin-left: 26%;
}

#TitleHodhod {
  margin-top: 4%;

}

.bgSolutionImg {
  background-image: url('./components//images/bannière supersenses@2x.png');
  background-repeat: no-repeat;
  background-size: 100% 90%;
  height: 487px;
}


#media_contact {
  margin-top: 85px;
  display: flex;
}


/****************Solution SensesIA*******************/

#ComposantsSensesIATitle {
  margin-top: 10%;
  text-align: center;
}

#img-descriptionSensesIA {
  width: 80%;
  height: 80%;
  margin-left: 20%;
}

#p_descriptionSensesIA {
  margin-top: 5%;
}

#ComposantsSensesIATitle {
  margin-top: -2%;
}

#blocComposantsSensesIA {
  margin-top: 5%;
  margin-left: -5%;
  text-align: center;
}

/* .ComposantSensesIA{ */
/* box-shadow: inset 0 0 10px 0 #c7c7c7; */
/* border-radius: 10px; */
/* padding: 0; */
/* } */
.img-composant-sensesIA {
  width: 10%;
  height: 35%;
  margin-bottom: 2%;
  border-radius: 10%;

}

#kitElectronique {
  margin-top: 15%;
  margin-bottom: 2%;
  height: 62px;
  width: 62px;
}

#stockageCloud {
  margin-top: 15%;
  margin-bottom: 2%;
  height: 62px;
  width: 62px;
}

#plateformeIntelligente {
  margin-top: 15%;
  margin-bottom: 2%;
  height: 62px;
  width: 62px;
}

/*********************************/
/******Espace Carriere ********/
#EspaceCarriereBody {
  width: 78%;
  height: 909px;
  margin-left: 11%;
  border: 15px;
  margin-top: -5%;
}

.espCarr {
  width: 97%;
}

#CarriereButtomSauv {
  width: 20%;
  margin-left: 138.5%;
}

#CarriereButtomPart {
  width: 20%;
  margin-left: 57%;
}

.EspaceHeader {
  padding: 10%;
  margin-top: 5%;
}

#boxImg {
  width: 184px;
  height: 209px;
  border: 15px;
}

#boxTable {
  width: 480px;
  height: 201px;
  border: 15px;

}

.formContent {
  width: 80%;
  margin-left: 10%;
  padding-bottom: 10%;
  padding-top: 10%;
}


/*****************************/
/********A PROPOS ****************/

.media_text {
  margin-right: 20px;
  margin-left: 70px;
  float: left;

}

.media_icons {
  margin-left: 5px;
}

.copyrights {
  margin-top: -20px;
  text-align: center;
  padding-bottom: 4px;
}

/*******************HomePage*********************/
.part2 {
  margin-top: 15%;
  width: 100%;
}

#portfolioBox {
  width: 1530px;

}

#hodhod1 {
  width: 488px;
  height: 370px;
}

#LinkHome {
  text-decoration: none;

}

#portfolio1:hover {
  transform: scale(1.3);
  z-index: 2;
}

.Nav_itemHomeInterface {
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 0px;
  margin-left: 25px;
  padding-right: 0px;
  font-size: 15px;
}

/**navbar homeinterface ***/
.logo_supersensesHome {
  width: 107px;
  height: 76.42px;
  margin-left: 10px;
  margin-right: 5px;
  margin-top: -180%;
}

#dropdown_Solution {
  margin-top: -4%;

}

.Nav_home {
  text-transform: uppercase;
  margin-right: 20px;
  margin-left: 20px;
  padding-right: 0px;
  font-size: 15px;
  color: white;
}

#NavText_home {
  color: white;
}

.hashLinkNavBar {
  text-decoration: none;
  color: white;
}

.hashLinkNavBar:hover {
  color: white;
}

.hashLinkNavBarDropDown {
  text-decoration: none;
  color: black;
}

.hashLinkNavBarDropDown:hover {
  color: black;
}

/*************************/

.Description_supersenses {
  margin-top: 200px;
  /* margin-left: 120px; */

}

.title_references {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 150px;
}

.novationCity_logo {
  width: 205px;
  height: 204px;
  margin-left: 20px;
}

.smartLogger_logo {
  width: 205px;
  height: 204px;
}

.logoBox_Reference {
  margin-right: 10px;
}


.ref-img {
  margin-top: -60px;
  width: 204px;
  height: 204px;
  margin-right: 30px;
}


/*************************************Notre Expertise *********************************/
#NosExpertiseTitre {
  margin-top: 3%;
}

.NosServices_Container {
  margin-top: 80px;
  margin-bottom: 100px;
  width: 100%;

}

.ServiceAI {
  width: 80%;
}

.NosServicesTitle {
  text-align: center;
  margin-bottom: 60px;
  font-size: 40px;

}

.ServiceDigital_data>h5 {
  font-weight: bold;
}

.ServiceAI_data>h5 {
  font-weight: bold;
}




.paragraph_ServiceAI {
  margin-top: 20px;
  text-align: justify;
}


.paragraph_ServiceDigital {
  margin-top: 20px;
  text-align: justify;
}


/* #hoverImg3 :hover {
  transform: scale(1.3);
  z-index: 2;
} */

.paragraph_ServiceDigital>i {
  margin-left: -10px;
}


.ServiceDigital {
  margin-top: 40px;
}

.ServiceAI_data {
  padding: 30px;
  background-color: rgba(224, 240, 253);
  box-shadow: 0px 0px 15px rgba(224, 240, 253);
  border-radius: 10px;
}

.ServiceDigital_data {
  padding: 30px;
  background-color: rgba(224, 240, 253);
  box-shadow: 0px 0px 15px rgba(224, 240, 253);
  border-radius: 10px;
}

.img_service_AI {
  margin-left: 10%;
  border-radius: 30px;
  width: 75%;
}

.img_service_digital {
  margin-top: 20px;
  width: 70%;
}

/***********************IACestQuoi*******************************/

.bloc_intro_AI {
  width: 20%;
  margin-top: 160px;

}

.intro_AI_data {
  text-align: justify;
  background-color: rgba(224, 240, 253);
  box-shadow: 0px 0px 15px rgba(224, 240, 253, 0.5);
  border-radius: 10px;
  padding: 30px;
  padding-top: 60px;
  width: 200px;
}

/* .img_cerlce_AI{  
inline styling } */

.AI_slogan {
  margin-top: 110px;
  margin-bottom: -10px;
  text-align: center;
  color: #25ACDE;
  font-size: 25px;
}

.bloc_etapes_AI {
  margin-top: 90px;
  width: 70%;
}

.bloc_etapes_AI_title {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 60px;
  font-size: 20px;
}

#etape_AI_title {
  margin-bottom: 25px;
  margin-top: 15px;
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
}

#etape_AI {
  width: 540px;
  height: 330px;
  text-align: center;
  margin-bottom: 30px;
  padding: 40px;
  box-shadow: 0 0 45px 0 #c7c7c7;
  border-radius: 10px;
  transition: box-shadow .3s;
}

#etape_AI:hover {
  box-shadow: 0 0 17px rgba(33, 33, 33, .2);

}

.icon_etapes_AI {
  width: 20px;
  height: 30px;

}


#blocBD_header:hover {
  color: #25ACDE;
}

#blocEntrainement_header:hover {
  color: #25ACDE;
}

#blocIterations_header:hover {
  color: #25ACDE;
}

#blocMiseEnProduction_header:hover {
  color: #25ACDE;
}

/***********************ContactezNous*******************************/
.ContactezNous_container {
  margin-left: 20%;
  margin-right: 20%;
}

.bloc_welcoming_phrases {
  margin-top: 80px;
  margin-bottom: 40px;
  padding-top: 100px;

}

.welcoming_phrase {
  text-align: center;

}

#SeSoumettre_btn {
  text-align: center;
  width: 100%;
  border-radius: 10px;
  background-color: #25ACDE;
}

.Contact_form {
  padding-top: 50px;
  box-shadow: inset 0 0 15px 0 #c7c7c7;
  border-radius: 30px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;

}

#Contact_input {
  border-radius: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

/*****************************NosOffres**************************/
.NosOffres {
  margin-top: 5%;
}

#boxF {
  margin-top: 6%;
}

#boxM {
  margin-top: 6%;
  border-radius: 25px;
}

#buttonOffre {
  border-radius: 25px;
  margin-left: 100%;
  margin-top: -22%;
  width: 40%;
  height: 2%;
  text-decoration: none;
}

#boxoffres {
  margin-right: 25%;
}

#infoOffre {
  width: 180%;
}